In [2]:
import pandas as pd
import numpy as np
import os

In [61]:
os.listdir('Data/독립변수')

['2019년 가축분뇨 농가수_시도별_v1.xlsx',
 '2019년 가축분뇨 두수_시도별_v1.xlsx',
 '2020_가축분뇨처리시설_v1.xlsx',
 '2020년도 기준 광역지자체별 가축분뇨 발생량_v1.xlsx',
 '가축질병발생현황3_농림축산식품부_v1.xlsx',
 '가축질병현황_취합본.xlsx',
 '국내발생현황_가축전염병_v1.xlsx',
 '토양최종.xlsx',
 '폭염_v1.xlsx',
 '하천수질오염데이터_v1.xlsx',
 '행정동_주소.xlsx']

In [64]:
location_df = pd.read_excel('Data/독립변수/행정동_주소.xlsx')
location_df

            시도    시군구    행정동    법정동
0        서울특별시  서울특별시  서울특별시  서울특별시
1        서울특별시    종로구    종로구    종로구
2        서울특별시    종로구  청운효자동    청운동
3        서울특별시    종로구  청운효자동    신교동
4        서울특별시    종로구  청운효자동    궁정동
...        ...    ...    ...    ...
21718  제주특별자치도   서귀포시    중문동    대포동
21719  제주특별자치도   서귀포시    중문동    하원동
21720  제주특별자치도   서귀포시    예래동    색달동
21721  제주특별자치도   서귀포시    예래동    상예동
21722  제주특별자치도   서귀포시    예래동    하예동

[21723 rows x 4 columns]

In [49]:
df = pd.read_excel('Data/최종데이터셋.xlsx')
df.head(2)

,토양_가중치_적용_합,토양_가중치_적용_평균,토양_가중치_미적용_합,토양_가중치_미적용_평균,Dust_2020_mean,Gas_2020_mean,Nis_2020_mean,atmosphere_sum,atmosphere_mean,수질평균,수질합,시도,시군,읍면동,폭염일수_2021,폭염일수_2020,폭염일수_2019,분뇨처리시설 개수,하수처리시설 개수
0,NaN,NaN,NaN,NaN,20.75,0.003083,0.023833,20.776917,10.388458,NaN,NaN,서울특별시,서울특별시,서울특별시,NaN,NaN,NaN,NaN,NaN
1,0.697261,0.23242,0.697261,0.23242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울특별시,종로구,종로구,18.0,4.0,15.0,NaN,NaN

In [65]:
분뇨발생량_df = pd.read_excel('Data/독립변수_v2/2020_가축분뇨_발생량.xlsx')
분뇨발생량_df

            시도   시군구    읍면동        총합계
0        서울특별시   성동구  성수동1가   0.015600
1        서울특별시   성동구  성수동2가   0.122100
2        서울특별시   광진구     능동   0.029670
3        서울특별시   서초구    내곡동   0.417150
4        부산광역시  해운대구    석대동        NaN
...        ...   ...    ...        ...
14775  제주특별자치도  서귀포시    표선면  15.296800
14776  제주특별자치도  서귀포시    표선면  38.655592
14777  제주특별자치도  서귀포시    표선면  91.508890
14778  제주특별자치도  서귀포시    표선면  33.740580
14779  제주특별자치도  서귀포시    표선면   9.174900

[14780 rows x 4 columns]

In [66]:
분뇨발생량_df = 분뇨발생량_df.groupby(by=['시도','시군구', '읍면동']).sum().reset_index()
분뇨발생량_df

        시도  시군구   읍면동         총합계
0      강원도  강릉시   강동면  210.552550
1      강원도  강릉시   구정면   52.877250
2      강원도  강릉시   노암동    0.244150
3      강원도  강릉시   두산동    1.912750
4      강원도  강릉시   박월동    0.346950
...    ...  ...   ...         ...
2597  충청북도  충주시  중앙탑면  126.403674
2598  충청북도  충주시   지현동    0.367500
2599  충청북도  충주시   칠금동    0.850500
2600  충청북도  충주시    풍동    1.177200
2601  충청북도  충주시   호암동    0.058650

[2602 rows x 4 columns]

In [67]:
len(location_df)

21723

In [69]:
location_df.head(2)

      시도    시군구    행정동    법정동
0  서울특별시  서울특별시  서울특별시  서울특별시
1  서울특별시    종로구    종로구    종로구

In [81]:
pd.merge(location_df, 분뇨발생량_df, left_on=['시도','시군구','법정동'], right_on=['시도','시군구','읍면동'], how='left')

            시도    시군구    행정동    법정동  읍면동       총합계
0        서울특별시  서울특별시  서울특별시  서울특별시  NaN       NaN
1        서울특별시    종로구    종로구    종로구  NaN       NaN
2        서울특별시    종로구  청운효자동    청운동  NaN       NaN
3        서울특별시    종로구  청운효자동    신교동  NaN       NaN
4        서울특별시    종로구  청운효자동    궁정동  NaN       NaN
...        ...    ...    ...    ...  ...       ...
21718  제주특별자치도   서귀포시    중문동    대포동  대포동  44.86091
21719  제주특별자치도   서귀포시    중문동    하원동  하원동   1.59915
21720  제주특별자치도   서귀포시    예래동    색달동  색달동   7.71960
21721  제주특별자치도   서귀포시    예래동    상예동  상예동  11.05762
21722  제주특별자치도   서귀포시    예래동    하예동  NaN       NaN

[21723 rows x 6 columns]

In [75]:
pd.merge(location_df, 분뇨발생량_df, left_on=['시도','시군구','행정동'], right_on=['시도','시군구','읍면동'], how='left')['총합계'].isna().sum()

5734

In [79]:
location_df['행정동'].nunique()

3514

In [80]:
location_df['법정동'].nunique()

11298