In [1]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

In [2]:
plt.rc('font', family='Malgun Gothic')
plt.style.use('ggplot')

In [ ]:
"C:\Python\환경부공모전\Data\종속변수_v2\토양최종.xlsx"

In [48]:
토양 = pd.read_excel("C:\Python\환경부공모전\Data\종속변수_v2\토양최종.xlsx")
토양.head()

   토양_연도 토양_고유명칭   토양_면적  토양_Cu  토양_Zn  토양_Ni     시도   시군   읍면동
0   2020   동구방촌1   13626   28.6   90.8   13.0  대구광역시   동구   해안동
1   2020    광산지축  329280   12.3   47.3   10.4  광주광역시  광산구   어룡동
2   2020    울산신정  172195   22.5  115.8   12.9  울산광역시   남구  신정1동
3   2020    울산신정  172195   22.5  115.8   12.9  울산광역시   남구  신정2동
4   2020    울산신정  172195   22.5  115.8   12.9  울산광역시   남구  신정3동

In [49]:
len(토양)

56

In [32]:
df.columns

Index(['시도', '시군', '폭염일수_2020', '읍면동별_농가수', '분뇨처리량_총합계(톤)', '분뇨처리량_정화방류(톤)',
       '분뇨처리량_퇴비화(톤)', '두수_소계', '두수_한육우', '두수_젖소', '두수_말', '두수_돼지', '두수_닭·오리',
       '읍면동_면적', '하수처리시설_개수', '분뇨처리업장_개수', '읍면동_총거주자수', '질병발생', '시군별_수질오염도',
       '시군별_토양오염도', '시군별_대기오염도'],
      dtype='object')

In [50]:
df = pd.read_excel("C:/Python/환경부공모전/Data/10월7일_최종데이터셋.xlsx")
df

,시도,시군,폭염일수_2020,읍면동별_농가수,분뇨처리량_총합계(톤),분뇨처리량_정화방류(톤),분뇨처리량_퇴비화(톤),두수_소계,두수_한육우,두수_젖소,...,두수_돼지,두수_닭·오리,읍면동_면적,하수처리시설_개수,분뇨처리업장_개수,읍면동_총거주자수,질병발생,시군별_수질오염도,시군별_토양오염도,시군별_대기오염도
0,강원도,강릉시,11.5,855,487.825020,88.451000,215.134844,254303,7811,836,...,72064,170500,1.041638e+09,8,0,211640,0,4337.182800,103.559993,14.286727
1,강원도,고성군,8.0,508,138.021664,2.663700,131.438664,119062,8500,0,...,3680,106273,6.618053e+08,15,0,26544,3,2122.712000,103.559993,13.256333
2,강원도,동해시,0.0,271,29.465050,0.000000,29.465050,2293,2293,0,...,0,0,1.837027e+08,0,0,98541,0,2469.940000,103.559993,16.264333
3,강원도,삼척시,NaN,932,206.209050,0.000000,204.877082,729000,9656,0,...,2119,716260,1.189392e+09,20,0,62898,0,1002.419600,103.559993,12.930500
4,강원도,속초시,NaN,188,3.186800,0.000000,3.186800,248,248,0,...,0,0,1.792736e+08,1,0,116312,0,NaN,103.559993,11.429250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,충청북도,청주시 상당구,NaN,0,0.000000,0.000000,0.000000,0,0,0,...,0,0,4.034096e+08,2,0,188941,1,3044.789333,104.747179,NaN
264,충청북도,청주시 서원구,NaN,0,0.000000,0.000000,0.000000,0,0,0,...,0,0,1.288471e+08,1,0,220271,5,NaN,104.747179,NaN
265,충청북도,청주시 청원구,NaN,0,0.000000,0.000000,0.000000,0,0,0,...,0,0,2.148366e+08,1,1,193521,4,9493.365500,104.747179,NaN
266,충청북도,청주시 흥덕구,16.0,0,0.000000,0.000000,0.000000,0,0,0,...,0,0,1.940834e+08,4,0,264509,0,37633.503937,104.747179,NaN
267,충청북도,충주시,8.0,1562,1115.935186,177.809706,737.554054,3273332,23665,1411,...,84367,3123973,9.820567e+08,54,1,208828,1,4985.837720,86.300000,19.685000

In [51]:
토양 = 토양.groupby(by=['시도','시군']).mean().reset_index()
토양

       시도       시군   토양_연도     토양_면적   토양_Cu    토양_Zn  토양_Ni
0     강원도      양구군  2019.0    1262.0  25.700   95.200   9.80
1     강원도      원주시  2020.0    6915.0   2.600   55.500   3.90
2     강원도      춘천시  2020.0    2494.0  10.500   37.300  12.10
3     강원도      횡성군  2019.5   59566.0  18.525   98.675  13.05
4     경기도     남양주시  2020.0    2327.0  33.100  115.000  29.70
5     경기도  용인시 처인구  2020.0  317035.0  21.500  102.700  21.20
6     경기도      평택시  2020.0    2116.0  21.100   99.800  20.50
7     경기도      화성시  2020.0     585.0  23.500   91.500  16.30
8    경상남도      창녕군  2019.0  857587.0  30.400   72.700  14.40
9    경상북도      경주시  2019.0    1064.0   7.300   37.200   4.90
10   경상북도      구미시  2020.0  854998.0   9.000   86.300   3.90
11   경상북도      상주시  2020.0   78004.0   9.400   80.800  12.80
12   경상북도      성주군  2019.0   31355.0  14.500   64.000  17.85
13   경상북도      의성군  2019.0     704.0  20.700   98.000   8.90
14  광주광역시      광산구  2020.0  329280.0  12.300   47.300  10.40
15  대구광역시       동구  2020.0   13626.0  28.600   90.800  13.00
16  대전광역시       중구  2019.0    4000.0  19.500  116.300  13.50
17  부산광역시      강서구  2020.0  419252.0  11.500   73.200   8.80
18  서울특별시      노원구  2019.0   24855.0  36.700  151.800  10.10
19  울산광역시       남구  2020.0  172195.0  22.500  115.800  12.90
20   전라남도      고흥군  2019.0    7984.0   9.400   56.300   7.90
21   전라남도      나주시  2020.0    6120.5  14.250   73.050   7.15
22   전라남도      담양군  2019.0   34912.0  12.100   83.600   8.90
23   전라남도      순천시  2019.0    1709.0  20.700   60.700  19.80
24   전라남도      장성군  2019.0    1164.0  13.600   62.700   9.10
25   전라북도      완주군  2020.0  839126.0   8.100   80.000   7.10
26   전라북도  전주시 덕진구  2017.0  241133.0  17.450   83.350  10.60
27   전라북도      정읍시  2019.0    6372.0   3.900   31.900   4.00
28   충청남도      공주시  2019.0  698820.0  12.800   85.700  16.40
29   충청남도      논산시  2020.0   30424.0   7.200   63.200   8.80
30   충청북도      단양군  2020.0     258.0  10.200   67.700   8.80
31   충청북도  청주시 서원구  2019.0   67957.0   9.900   86.400   9.60

In [52]:
토양.columns

Index(['시도', '시군', '토양_연도', '토양_면적', '토양_Cu', '토양_Zn', '토양_Ni'], dtype='object')

In [53]:
토양['시군별_토양오염도'] = 토양[['토양_Cu', '토양_Zn', '토양_Ni']].sum(axis=1)
토양

       시도       시군   토양_연도     토양_면적   토양_Cu    토양_Zn  토양_Ni  시군별_토양오염도
0     강원도      양구군  2019.0    1262.0  25.700   95.200   9.80     130.70
1     강원도      원주시  2020.0    6915.0   2.600   55.500   3.90      62.00
2     강원도      춘천시  2020.0    2494.0  10.500   37.300  12.10      59.90
3     강원도      횡성군  2019.5   59566.0  18.525   98.675  13.05     130.25
4     경기도     남양주시  2020.0    2327.0  33.100  115.000  29.70     177.80
5     경기도  용인시 처인구  2020.0  317035.0  21.500  102.700  21.20     145.40
6     경기도      평택시  2020.0    2116.0  21.100   99.800  20.50     141.40
7     경기도      화성시  2020.0     585.0  23.500   91.500  16.30     131.30
8    경상남도      창녕군  2019.0  857587.0  30.400   72.700  14.40     117.50
9    경상북도      경주시  2019.0    1064.0   7.300   37.200   4.90      49.40
10   경상북도      구미시  2020.0  854998.0   9.000   86.300   3.90      99.20
11   경상북도      상주시  2020.0   78004.0   9.400   80.800  12.80     103.00
12   경상북도      성주군  2019.0   31355.0  14.500   64.000  17.85      96.35
13   경상북도      의성군  2019.0     704.0  20.700   98.000   8.90     127.60
14  광주광역시      광산구  2020.0  329280.0  12.300   47.300  10.40      70.00
15  대구광역시       동구  2020.0   13626.0  28.600   90.800  13.00     132.40
16  대전광역시       중구  2019.0    4000.0  19.500  116.300  13.50     149.30
17  부산광역시      강서구  2020.0  419252.0  11.500   73.200   8.80      93.50
18  서울특별시      노원구  2019.0   24855.0  36.700  151.800  10.10     198.60
19  울산광역시       남구  2020.0  172195.0  22.500  115.800  12.90     151.20
20   전라남도      고흥군  2019.0    7984.0   9.400   56.300   7.90      73.60
21   전라남도      나주시  2020.0    6120.5  14.250   73.050   7.15      94.45
22   전라남도      담양군  2019.0   34912.0  12.100   83.600   8.90     104.60
23   전라남도      순천시  2019.0    1709.0  20.700   60.700  19.80     101.20
24   전라남도      장성군  2019.0    1164.0  13.600   62.700   9.10      85.40
25   전라북도      완주군  2020.0  839126.0   8.100   80.000   7.10      95.20
26   전라북도  전주시 덕진구  2017.0  241133.0  17.450   83.350  10.60     111.40
27   전라북도      정읍시  2019.0    6372.0   3.900   31.900   4.00      39.80
28   충청남도      공주시  2019.0  698820.0  12.800   85.700  16.40     114.90
29   충청남도      논산시  2020.0   30424.0   7.200   63.200   8.80      79.20
30   충청북도      단양군  2020.0     258.0  10.200   67.700   8.80      86.70
31   충청북도  청주시 서원구  2019.0   67957.0   9.900   86.400   9.60     105.90

In [54]:
토양.columns

Index(['시도', '시군', '토양_연도', '토양_면적', '토양_Cu', '토양_Zn', '토양_Ni', '시군별_토양오염도'], dtype='object')

In [55]:
토양.drop(columns=['토양_연도', '토양_면적'], inplace=True)

In [56]:
df = pd.merge(df, 토양, on=['시도','시군'], how='left')
df.drop(columns=['시군별_토양오염도_x'], inplace=True)
df.rename(columns={'시군별_토양오염도_y': '시군별_토양오염도'}, inplace=True)
df

,시도,시군,폭염일수_2020,읍면동별_농가수,분뇨처리량_총합계(톤),분뇨처리량_정화방류(톤),분뇨처리량_퇴비화(톤),두수_소계,두수_한육우,두수_젖소,...,하수처리시설_개수,분뇨처리업장_개수,읍면동_총거주자수,질병발생,시군별_수질오염도,시군별_대기오염도,토양_Cu,토양_Zn,토양_Ni,시군별_토양오염도
0,강원도,강릉시,11.5,855,487.825020,88.451000,215.134844,254303,7811,836,...,8,0,211640,0,4337.182800,14.286727,NaN,NaN,NaN,NaN
1,강원도,고성군,8.0,508,138.021664,2.663700,131.438664,119062,8500,0,...,15,0,26544,3,2122.712000,13.256333,NaN,NaN,NaN,NaN
2,강원도,동해시,0.0,271,29.465050,0.000000,29.465050,2293,2293,0,...,0,0,98541,0,2469.940000,16.264333,NaN,NaN,NaN,NaN
3,강원도,삼척시,NaN,932,206.209050,0.000000,204.877082,729000,9656,0,...,20,0,62898,0,1002.419600,12.930500,NaN,NaN,NaN,NaN
4,강원도,속초시,NaN,188,3.186800,0.000000,3.186800,248,248,0,...,1,0,116312,0,NaN,11.429250,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,충청북도,청주시 상당구,NaN,0,0.000000,0.000000,0.000000,0,0,0,...,2,0,188941,1,3044.789333,NaN,NaN,NaN,NaN,NaN
264,충청북도,청주시 서원구,NaN,0,0.000000,0.000000,0.000000,0,0,0,...,1,0,220271,5,NaN,NaN,9.9,86.4,9.6,105.9
265,충청북도,청주시 청원구,NaN,0,0.000000,0.000000,0.000000,0,0,0,...,1,1,193521,4,9493.365500,NaN,NaN,NaN,NaN,NaN
266,충청북도,청주시 흥덕구,16.0,0,0.000000,0.000000,0.000000,0,0,0,...,4,0,264509,0,37633.503937,NaN,NaN,NaN,NaN,NaN
267,충청북도,충주시,8.0,1562,1115.935186,177.809706,737.554054,3273332,23665,1411,...,54,1,208828,1,4985.837720,19.685000,NaN,NaN,NaN,NaN

In [57]:
# df.to_excel('시군별_토양오염도.xlsx', index=False, encoding='utf-8-sig')

# 전북 데이터 merge

In [86]:
전북 = pd.read_excel("C:/Python/환경부공모전/Data/종속변수_v2/2020년+전라북도+토양오염실태조사+결과(시군별).xlsx")
전북

,2020년도 토양오염 실태조사 결과(전라북도),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,연번,조사지역,조사지역명,조사지역 위치(지번)(법정동 주소),NaN,NaN,토지지목,지 역\n구 분(1/2/3\n지역),면 적\n(㎡),조 사 항 목 별 오 염 도 (mg/kg),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,비고
3,NaN,NaN,NaN,시군구,읍면동,번지,NaN,NaN,NaN,카드뮴,...,톨루엔,에틸\n벤젠,크실렌,TPH,TCE,PCE,벤조(a)\n피렌,"1,2-디클로로\n에탄",pH,NaN
4,1,폐기물처리재활용,전주리싸이클링에너지㈜,전주시 완산구,삼천동3가,749-5,답,3지역,5151,0.59,...,0,0,0,0,0,0,0,0,7.4,중점점검사업장
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,154,교통관련시설지역,한진자동차공업사,부안군,부안읍 오리정로,39,잡종지,3지역,3686,1.7,...,0,0,0,65,-,-,-,-,6,NaN
158,155,어린이 놀이시설지역,참프레어린이집,부안군,행안면 옥여길,32-29,공장용지,3지역,220,1.05,...,0,0,0,64,0,0,-,0,5.9,NaN
159,평균,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.986258,...,0,0,0,104.797872,0,0,0.000852,0,6.94129,NaN
160,최대,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7,...,0,0,0,1455,0,0,0.022,0,8.1,NaN
161,최소,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.13,...,0,0,0,0,0,0,0,0,5.4,NaN

In [87]:
전북 = pd.DataFrame({'시군' : 전북['Unnamed: 3'][4:158],
             'cu': 전북['Unnamed: 10'][4:158],
            'zn':전북['Unnamed: 15'][4:158],
            'ni':전북['Unnamed: 16'][4:158]})
전북

          시군   cu    zn    ni
4    전주시 완산구  1.2  44.5   7.3
5    전주시 완산구    0  45.9   3.1
6    전주시 완산구    3  42.7  10.9
7    전주시 완산구    5  54.8  10.1
8    전주시 완산구  4.8  28.4   5.2
..       ...  ...   ...   ...
153      부안군  8.4  29.7    10
154      부안군  1.8  34.4   2.5
155      부안군  3.2    38   5.1
156      부안군  4.4  57.8   3.7
157      부안군  6.2  57.3   8.1

[154 rows x 4 columns]

In [88]:
전북['시군'].unique()

array(['전주시 완산구', '전주시 덕진구', '군산시', '익산시', '정읍시', '남원시', '김제시', '완주군',
       '진안군', '무주군', '장수군', '임실군', '순창군', '고창군', '부안군'], dtype=object)

In [94]:
전북 = 전북.groupby(by=['시군']).mean().reset_index()

In [99]:
전북.columns

Index(['시군', 'cu', 'zn', 'ni'], dtype='object')

In [100]:
전북['시군별_토양오염도'] = 전북.sum(axis=1)
전북.drop(columns=['cu', 'zn', 'ni'], inplace=True)
전북

C:\Users\User\AppData\Local\Temp\ipykernel_11980\3576351310.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  전북['시군별_토양오염도'] = 전북.sum(axis=1)

         시군   시군별_토양오염도
0       고창군  136.144444
1       군산시  107.257143
2       김제시  309.875000
3       남원시   65.228571
4       무주군   38.844444
5       부안군   79.111111
6       순창군  108.814286
7       완주군   47.533333
8       익산시  155.502500
9       임실군   76.808333
10      장수군   53.060000
11  전주시 덕진구   73.775000
12  전주시 완산구   61.671429
13      정읍시  109.961538
14      진안군  477.350000

In [102]:
# pd.merge(df, 전북, on='시군', how='left').to_excel('C:/Python/환경부공모전/Data/종속변수_v2/전북_토양오염도.xlsx', index=False, encoding='utf=8-sig')