# 경기/충청 심층 분석지역 Dataset 구축

In [1]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
plt.rc('font', family='Malgun Gothic')
plt.style.use('ggplot')

In [19]:
df = pd.read_excel('Basic_Dataset_충청경기.xlsx')
df

,대기오염_파생변수,시도별_대기오염도,시군별_대기오염도,시도,시군,읍면동,폭염일수_2020,읍면동별_농가수,분뇨처리량_총합계(톤),분뇨처리량_정화방류(톤),...,두수_소계,두수_한육우,두수_젖소,두수_말,두수_돼지,두수_닭·오리,읍면동_면적,하수처리시설_개수,분뇨처리업장_개수,읍면동_총거주자수
0,0.000000,20.941683,NaN,경기도,수원시 장안구,율천동,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.999170e+06,0,NaN,42910.0
1,0.000000,20.941683,NaN,경기도,수원시 장안구,정자1동,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.147866e+06,0,NaN,29636.0
2,0.000000,20.941683,NaN,경기도,수원시 장안구,정자2동,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.216099e+06,0,NaN,29817.0
3,0.000000,20.941683,NaN,경기도,수원시 장안구,정자3동,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.908766e+06,0,NaN,42663.0
4,0.000000,20.941683,NaN,경기도,수원시 장안구,조원1동,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.635531e+06,0,NaN,28554.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,0.744181,21.276589,15.513917,충청남도,태안군,남면,NaN,57.0,12.76245,0.00000,...,2257.0,257.0,0.0,0.0,2000.0,0.0,6.413381e+07,2,NaN,4288.0
1052,1.165415,21.276589,15.513917,충청남도,태안군,근흥면,NaN,83.0,19.98647,3.79280,...,70635.0,303.0,332.0,0.0,0.0,70000.0,5.409747e+07,4,NaN,5293.0
1053,2.476045,21.276589,15.513917,충청남도,태안군,소원면,NaN,72.0,42.46333,27.44960,...,7433.0,587.0,110.0,0.0,6736.0,0.0,7.333982e+07,2,NaN,5280.0
1054,4.216017,21.276589,15.513917,충청남도,태안군,원북면,NaN,123.0,72.30325,28.42732,...,111929.0,580.0,541.0,0.0,8408.0,102400.0,8.049562e+07,3,NaN,4393.0
1055,0.610716,21.276589,15.513917,충청남도,태안군,이원면,NaN,108.0,10.47358,0.00000,...,5130.0,631.0,0.0,0.0,329.0,3970.0,5.146155e+07,0,NaN,2256.0

In [20]:
질병 = pd.read_excel('./Data/독립변수_v4/경기도_가축질병_전처리.xlsx')
질병

,시군명,가축전염병명,축종명,감염두수,진단일자,병성감정기관명,시도,시군,읍면동,리,Unnamed: 10
0,가평군,뉴캣슬병,닭,70.0,2000-05-23,동북부지소,경기도,가평군,하면,NaN,NaN
1,가평군,결핵병,소,1.0,2002-10-10,동북부지소,경기도,가평군,청평면,상천리,NaN
2,가평군,결핵병,소-육우,5.0,2003-09-05,동북부지소,경기도,가평군,하면,현리,NaN
3,가평군,가금티프스,닭-육계,2000.0,2003-11-10,동북부지소,경기도,가평군,설악면,위곡리,NaN
4,가평군,가금티프스,닭-육계,8000.0,2003-11-24,동북부지소,경기도,가평군,설악면,송산리,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4432,화성시,결핵병,소-젖소,1.0,2022-01-19,경기도 동물위생시험소,경기도,화성시,매송면,숙곡리,NaN
4433,화성시,브루셀라병,소-한우,1.0,2022-01-21,경기도 동물위생시험소,경기도,화성시,우정읍,주곡리,NaN
4434,화성시,고병원성조류인플루엔자,닭-산란계,0.0,2022-01-23,조류인플루엔자연구진단과,경기도,화성시,향남읍,상신리,NaN
4435,화성시,고병원성조류인플루엔자,닭-산란계,0.0,2022-01-23,조류인플루엔자연구진단과,경기도,화성시,남양읍,온석리,NaN
4436,화성시,결핵병,소-젖소,36.0,2022-01-28,경기도 동물위생시험소,경기도,화성시,매송면,숙곡리,NaN

In [21]:
질병1 = 질병[['시도','시군','읍면동','가축전염병명']].groupby(by=['시도','시군','읍면동']).count().reset_index()
질병1

      시도   시군  읍면동  가축전염병명
0    경기도  가평군  가평읍      24
1    경기도  가평군   북면      22
2    경기도  가평군   상면      43
3    경기도  가평군  설악면      36
4    경기도  가평군  청평면      11
..   ...  ...  ...     ...
297  경기도  화성시  정남면      45
298  경기도  화성시  팔탄면      31
299  경기도  화성시  향남면       4
300  경기도  화성시  향남읍      88
301  경기도  화성시  활초동       1

[302 rows x 4 columns]

In [24]:
질병[['시도','시군','읍면동','감염두수']].groupby(by=['시도','시군','읍면동']).sum().reset_index()['감염두수']

0        103.0
1         77.0
2        144.0
3      54578.0
4      16034.0
        ...
297    20358.0
298    25481.0
299       18.0
300    39326.0
301    10000.0
Name: 감염두수, Length: 302, dtype: float64

In [25]:
질병1['감염두수'] = 질병[['시도','시군','읍면동','감염두수']].groupby(by=['시도','시군','읍면동']).sum().reset_index()['감염두수']
질병1

      시도   시군  읍면동  가축전염병명     감염두수
0    경기도  가평군  가평읍      24    103.0
1    경기도  가평군   북면      22     77.0
2    경기도  가평군   상면      43    144.0
3    경기도  가평군  설악면      36  54578.0
4    경기도  가평군  청평면      11  16034.0
..   ...  ...  ...     ...      ...
297  경기도  화성시  정남면      45  20358.0
298  경기도  화성시  팔탄면      31  25481.0
299  경기도  화성시  향남면       4     18.0
300  경기도  화성시  향남읍      88  39326.0
301  경기도  화성시  활초동       1  10000.0

[302 rows x 5 columns]

In [26]:
df

,대기오염_파생변수,시도별_대기오염도,시군별_대기오염도,시도,시군,읍면동,폭염일수_2020,읍면동별_농가수,분뇨처리량_총합계(톤),분뇨처리량_정화방류(톤),...,두수_소계,두수_한육우,두수_젖소,두수_말,두수_돼지,두수_닭·오리,읍면동_면적,하수처리시설_개수,분뇨처리업장_개수,읍면동_총거주자수
0,0.000000,20.941683,NaN,경기도,수원시 장안구,율천동,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.999170e+06,0,NaN,42910.0
1,0.000000,20.941683,NaN,경기도,수원시 장안구,정자1동,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.147866e+06,0,NaN,29636.0
2,0.000000,20.941683,NaN,경기도,수원시 장안구,정자2동,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.216099e+06,0,NaN,29817.0
3,0.000000,20.941683,NaN,경기도,수원시 장안구,정자3동,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.908766e+06,0,NaN,42663.0
4,0.000000,20.941683,NaN,경기도,수원시 장안구,조원1동,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.635531e+06,0,NaN,28554.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,0.744181,21.276589,15.513917,충청남도,태안군,남면,NaN,57.0,12.76245,0.00000,...,2257.0,257.0,0.0,0.0,2000.0,0.0,6.413381e+07,2,NaN,4288.0
1052,1.165415,21.276589,15.513917,충청남도,태안군,근흥면,NaN,83.0,19.98647,3.79280,...,70635.0,303.0,332.0,0.0,0.0,70000.0,5.409747e+07,4,NaN,5293.0
1053,2.476045,21.276589,15.513917,충청남도,태안군,소원면,NaN,72.0,42.46333,27.44960,...,7433.0,587.0,110.0,0.0,6736.0,0.0,7.333982e+07,2,NaN,5280.0
1054,4.216017,21.276589,15.513917,충청남도,태안군,원북면,NaN,123.0,72.30325,28.42732,...,111929.0,580.0,541.0,0.0,8408.0,102400.0,8.049562e+07,3,NaN,4393.0
1055,0.610716,21.276589,15.513917,충청남도,태안군,이원면,NaN,108.0,10.47358,0.00000,...,5130.0,631.0,0.0,0.0,329.0,3970.0,5.146155e+07,0,NaN,2256.0

In [28]:
df = pd.merge(df, 질병1, on=['시도','시군','읍면동'], how='left')
df

,대기오염_파생변수,시도별_대기오염도,시군별_대기오염도,시도,시군,읍면동,폭염일수_2020,읍면동별_농가수,분뇨처리량_총합계(톤),분뇨처리량_정화방류(톤),...,두수_젖소,두수_말,두수_돼지,두수_닭·오리,읍면동_면적,하수처리시설_개수,분뇨처리업장_개수,읍면동_총거주자수,가축전염병명,감염두수
0,0.000000,20.941683,NaN,경기도,수원시 장안구,율천동,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.999170e+06,0,NaN,42910.0,NaN,NaN
1,0.000000,20.941683,NaN,경기도,수원시 장안구,정자1동,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.147866e+06,0,NaN,29636.0,NaN,NaN
2,0.000000,20.941683,NaN,경기도,수원시 장안구,정자2동,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.216099e+06,0,NaN,29817.0,NaN,NaN
3,0.000000,20.941683,NaN,경기도,수원시 장안구,정자3동,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.908766e+06,0,NaN,42663.0,NaN,NaN
4,0.000000,20.941683,NaN,경기도,수원시 장안구,조원1동,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.635531e+06,0,NaN,28554.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,0.744181,21.276589,15.513917,충청남도,태안군,남면,NaN,57.0,12.76245,0.00000,...,0.0,0.0,2000.0,0.0,6.413381e+07,2,NaN,4288.0,NaN,NaN
1052,1.165415,21.276589,15.513917,충청남도,태안군,근흥면,NaN,83.0,19.98647,3.79280,...,332.0,0.0,0.0,70000.0,5.409747e+07,4,NaN,5293.0,NaN,NaN
1053,2.476045,21.276589,15.513917,충청남도,태안군,소원면,NaN,72.0,42.46333,27.44960,...,110.0,0.0,6736.0,0.0,7.333982e+07,2,NaN,5280.0,NaN,NaN
1054,4.216017,21.276589,15.513917,충청남도,태안군,원북면,NaN,123.0,72.30325,28.42732,...,541.0,0.0,8408.0,102400.0,8.049562e+07,3,NaN,4393.0,NaN,NaN
1055,0.610716,21.276589,15.513917,충청남도,태안군,이원면,NaN,108.0,10.47358,0.00000,...,0.0,0.0,329.0,3970.0,5.146155e+07,0,NaN,2256.0,NaN,NaN

In [29]:
df.rename(columns={'가축전염병명':'질병감염발생수_count'}, inplace=True)

In [31]:
# df.to_excel('Basic_Data_경기충청_질병merged.xlsx', index=False, encoding='utf-8-sig')

# 충청경기_Dataset Road

In [4]:
df = pd.read_excel('Basic_Data_경기충청_질병merged.xlsx')

In [7]:
print(df.isna().sum())
print('-'*100)
print(len(df))

대기오염_파생변수           0
시도별_대기오염도           0
시군별_대기오염도         355
시도                  0
시군                  0
읍면동                 0
폭염일수_2020        1033
읍면동별_농가수          459
분뇨처리량_총합계(톤)      492
분뇨처리량_정화방류(톤)     492
분뇨처리량_퇴비화(톤)      492
두수_소계             492
두수_한육우            492
두수_젖소             492
두수_말              492
두수_돼지             492
두수_닭·오리           492
읍면동_면적             80
하수처리시설_개수           0
분뇨처리업장_개수         994
읍면동_총거주자수         117
질병감염발생수_count     895
감염두수              895
dtype: int64
----------------------------------------------------------------------------------------------------
1056